@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background: #000000;
  color: rgb(244 244 245);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(242, 97, 0, 0.30);
}