@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background: #000000;
  color: rgb(244 244 245);
  /* zinc-100 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(242, 97, 0, 0.30);
  /* #f26100 @ 30% */
}