@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background: #000000;
  color: rgb(244 244 245);
  /* zinc-100 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(37, 150, 190, 0.3);
  /* #2596be @ 30% */
}